<div class="container">
    <button mat-flat-button color="warn" (click)="openDialog(null)">
        Add Users
    </button>

    <mat-divider class="mt-20 mb-20"></mat-divider>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex. ium" (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="userList" class="user-table" matSort (matSortChange)="sortData($event)" [matSortActive]="sortColoum" [matSortDirection]="sortOrder">
        <!-- Position Column -->
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="userimage">
            <th mat-header-cell *matHeaderCellDef> UserImage </th>
            <td mat-cell *matCellDef="let element">
                <img src="{{baseUrl}}public/upload/user/{{ element.userimage }}" class="user-image">
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="birthdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.birthdate | date }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element" [ngSwitch]="element.gender">
                <span *ngSwitchCase="'M'">Male</span>
                <span *ngSwitchCase="'F'">Female</span>
                <span *ngSwitchCase="'O'">Other</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">

                <button mat-icon-button (click)="openViewUserDetails(element.id)" #tooltip="matTooltip" matTooltip="View user's details" [matTooltipPosition]="'below'">
                  <mat-icon color="primary">remove_red_eye</mat-icon>
                </button>

                <button mat-icon-button (click)="openDialog(element.id)" #tooltip="matTooltip" matTooltip="Edit user's details" [matTooltipPosition]="'below'">
                  <mat-icon color="accent">edit</mat-icon>
                </button>

                <button mat-icon-button #tooltip="matTooltip" (click)="openDeleteUserDetails(element.id)" matTooltip="Delete user's details" [matTooltipPosition]="'below'">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="totalRecord" [pageSize]="startPageSize" (page)="onPaginate($event)" showFirstLastButtons></mat-paginator>
</div>